@import "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
  --color-secondary: #2a2a2a;
  --color-accent: #3b82f6;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  font-family: 'Inter', system-ui, sans-serif;
}